<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewData["Title"] - Admin Panel</title>
    <link href="~/lib/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
</head>

<body>
    <header id="header" class="header d-flex align-items-center sticky-top">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <a href="@Url.Action("Index", "Dashboard")" class="logo">
                <i class="bi bi-cup-straw"></i>
                <h1 class="sitename">TastyNest Dashboard</h1>
            </a>
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li><a href="@Url.Action("Create", "Recipes")">Create Recipe</a></li>
                    <li><a href="@Url.Action("Index", "Recipes")">Recipes</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main role="main">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer id="footer" class="footer">
        <div class="container">
            <p>© TastyNest All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>
